body{
  font-family: 'Montserrat', sans-serif;
  background-color: #eeeeee;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #303030;
  padding-top: 50px;
}

.sidenav a {
  padding: 0px 0px 25px 15px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: #918e8e;
}

.sidenav img{
  margin-right: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.header{
  height: 75px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #303030;
}

.logo{
  margin-left: 18%;
  padding-top: 6px;
  display: inline-block;
  vertical-align: middle;
}

.logout_btn{
  display: inline-block;
}

.logout_btn button{
  width: auto;
  margin-left: 500px;
  padding: 10px 15px;
  background-color:black;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

.btns{
  margin: 40% 0px 0px 21%;
}
.btns button{
  margin-left: 100px;
  padding: 7px 15px;
  background-color:#702219;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.container{
  margin-left: 200px;
}

.main_history{
  margin-left: 40px;
  margin-top: 30px;
  width: 90%;
  height: 500px;
  border-radius: 3px;
  background-color: white;
}
.title span{
  color: #702219;
}

.title p{
  margin-left: 20px;
  font-size: 25px;
  font-weight: normal;
}

.title{
  display: inline-block;
}

.clear_btn{
  display: inline-block;
  margin-left: 70%;
}

.clear_btn button{
  padding: 7px 15px;
  background-color:#702219;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

table {
  margin-left: 20px;
  width: 91%;
  color: white;
 }
 td, th {
  height: 30px;
  background-color: #eeeeee;
  color: black;
  padding: 5px;
  border-top: 5px solid white;
  text-align: center;
 }

.table{
  overflow: auto;
}

.logo_log{
  margin: 5% 0px 0px 34%;
}
.main_log{
  width: 30%;
  height: 20%;
  margin: 2% 0px 0px 37%;
  display: inline-block;
}

.acc_info input{
  width: 89%;
  padding: 15px 15px;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  outline: none;
}

::placeholder{
  color: white;
  font-size: 20px;
}

.btn_log{
  margin-top: 50px;
}

.btn_log button{
  width: 97%;
  padding: 15px 15px;
  background-color:black;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  outline: none;
}